.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.auth{
    position: absolute;
    top: 0%;
    right: 0%;
    background: #ddd;
    border:1px;
    padding:10px;
    width: 150px;
    /* transform: translate(-50%,-50%); */
}
.group_online{
    position:absolute;
    border: 1px solid gray;
    background: white;
    padding-left: 10px;
    top: 300px;
    width: 150px;
    height: 570px;
    color: black;
    right: 0px;
    bottom: 0px;
}
span.online{
    background:greenyellow;
    border-radius: 20px;
    margin: 5px;
    position: absolute;
    right: 0px;
    padding: 5px;
}
span.offline{
    background:gray;
    border-radius: 20px;
    margin: 5px;
    position: absolute;
    right: 0px;
    padding: 5px;
}
.all_online{
    position: absolute;
    bottom: 0px;
}

.all_user{
    background: #ddd;
    position: absolute;
    left: 100px;
}
.groupchat{
    position: absolute;
    left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid gray;
    background: white;
}