#show-chat {
  background: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  /* margin: 0 0 5px; */
  cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  margin-left: 10px;
  float: right;
  border-radius: 20px;
  padding:4px 6px 0px 6px;
  margin:7px 7px 0px 0px;

}

.content {
  display: none;

}

.js .content {
  display: none;
}
.create-chat{
  padding: 10px;
}

.myclass{
  position: absolute !important;
  height: 96%;
  right: 20px;
  left: 20px;
  top: 20px;
  bottom: 0px;
}
.fixed-grid1{
  padding-right:5px !important;
}
.fixed-grid2{
  border-radius: 5px !important;
}
.container {
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}
.settings-tray,.no-gutters {
  padding: 0;
  height: 100%;
}
.settings-tray--right {
  float: right;
}
.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  transition: .3s;
}
.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}
.search-box {
  background: #fafafa;
  padding: 10px 13px;
}
.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}
.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none !important;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: .3s ease;
}
.friend-drawer--grey {
  background: #eee;
}
.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}
.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.friend-drawer .text p {
  margin: 0;
}
.friend-drawer .time {
  color: grey;
}
.friend-drawer--onhover:hover {
  background: #74b9ff;
  border-radius:10px;
}
.friend-drawer--onhover{
  cursor: pointer;
}
.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
}

hr {
  margin: 5px auto;
  width: 60%;
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}
.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}
.chat-box-tray i {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}
.chat-box-tray i:last-of-type {
  margin-left: 25px;
}

.chats::-webkit-scrollbar { width: 0.100rem; }
.chats::-webkit-scrollbar-thumb { background: #CFD8DC; }
.chats::-webkit-scrollbar-thumb:hover { background: #B0BEC5; }
::-webkit-input-placeholder { color: #B0BEC5; }
::-moz-placeholder { color: #B0BEC5; }
:-ms-input-placeholder { color: #B0BEC5; }
:-moz-placeholder { color: #B0BEC5; }

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span.online{
    background:greenyellow;
    border-radius: 20px;
    margin: 5px;
    position: absolute;
    right: 0px;
    padding: 5px;
}
span.offline{
    background:gray;
    border-radius: 20px;
    margin: 5px;
    position: absolute;
    right: 0px;
    padding: 5px;
}

#viewport { 
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
#viewport > .chatbox {
	position: relative;
	display: table;
	float: left;
	width: 100rem;
	height: 46rem;
	background-color: white;
	overflow: hidden;
}
#viewport > .chatbox > .chats {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;	
	display: table-cell;
	vertical-align: bottom;
	padding-right: 0.2rem;
	padding-left: 2.2rem;
	overflow: auto;
}
ul { padding: 0; }
ul > li {
	position: relative;
	list-style: none;
	display: block;
	margin-top: 1.5rem;
	margin: 1rem 0;
	transition: 0.5s all;
}
ul > li:after {
	display: table;
	content: '';
	clear: both;
}
.msg {		
	max-width: 85%;
	display: inline-block;
	padding: 0.5rem 1rem;
	line-height: 1rem;
	min-height: 2rem;
	font-size: 0.875rem;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
	word-break: break-all;
	text-transform: capitalize;
}
.msg.him {
	float: left;
	background-color: #ddd;
	color: black;
	border-bottom-left-radius: 0.125rem;
}
.msg.you {
	float: right;
	background-color: rgb(0, 153, 254);
	color: white;
	border-bottom-right-radius: 0.125rem;
}
.msg > span {
	font-weight: 500;
	position: absolute;
}
.msg > span.partner {
	color: #B0BEC5;
	font-size: 0.5rem;
	top: 0;
	font-size: 0.675rem;
	margin-top: -1rem;
}
.msg > span.time {
	color: #CFD8DC;
	font-size: 0.5rem;
	bottom: -0.35rem;
	display: none;
}
.msg:hover span.time { display: block; }
.msg.him > span { left: 0;	 }
.msg.you > span {	right: 0; }

input:hover,
input:focus,
input:active { 
	outline: none!important;
}